<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top %>
      <!-- main start  -->

      <!-- views/posts/index.ejs  -->
      <div class="index">
        <a href="/posts/new"><button>New</button></a>
        <ul>
          <li class="header">Titl<span>Data</span>
            <span class="float_right">Date</span>
            <span class="float_right">Author</span>
          </li>
          <% posts.forEach(function([post]){ %>
          <li>
            <a href="/posts/<%= post._id %>"><%= post.title %></a>
            <span class="float_right"><%= post.createdAt.toLocaleDateString() %></span>
            <span class="float_right"><%= post.author.nickname %></span>
          </li>
          <% }) %>
        </ul>
      </div>

      <!-- main end  -->
    </div><!-- posts start  -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
